@import url("./theme.css");

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.ttf");
  font-weight: bold;
}

html,
body,
#app {
  font-family: "Open Sans";
  background: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  margin: 0;
}
