@import url("./theme.css");

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.ttf");
  font-weight: bold;
}

html,
body,
#app {
  font-family: "Open Sans";
  background: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  margin: 0;
}

.tags {
  display: flex;
}

.tags__content {
  margin-right: 8px;
  padding: 2px 8px;
  border-radius: 16px;
  font-weight: 700;
  font-size: 12px;
}

.tags__content--yellow {
  color: var(--card__tag-yellow-text-color);
  background: var(--card__tag-yellow-background-color);
}
.tags__content--green {
  color: var(--card__tag-green-text-color);
  background: var(--card__tag-green-background-color);
}
.tags__content--red {
  color: var(--card__tag-red-text-color);
  background: var(--card__tag-red-background-color);
}

hr {
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 1rem 0;
}
