@import url("./theme.css");

@font-face {
  font-family: "Dosis";
  src: url("../fonts/Dosis-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Dosis";
  src: url("../fonts/Dosis-Bold.ttf") format("truetype");
  font-weight: bold;
}

html,
body,
#app {
  font-family: "Dosis";
  background: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  margin: 0;
}
