@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, monospace;

  --color-primary-50: oklch(0.984 0.003 247.858);
  --color-primary-100: oklch(0.968 0.007 247.896);
  --color-primary-200: oklch(0.929 0.013 255.508);
  --color-primary-300: oklch(0.869 0.022 252.894);
  --color-primary-400: oklch(0.704 0.04 256.788);
  --color-primary-500: oklch(0.554 0.046 257.417);
  --color-primary-600: oklch(0.446 0.043 257.281);
  --color-primary-700: oklch(0.372 0.044 257.287);
  --color-primary-800: oklch(0.279 0.041 260.031);
  --color-primary-900: oklch(0.208 0.042 265.755);
  --color-primary-950: oklch(0.129 0.042 264.695);
}
